@media {
    (min-width: 700px) and (orientation: landscape) { ... }
}

#welcome-section {
    margin: 0;
    height: 625px;

}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: goldenrod;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;

}