@media {
    (min-width: 700px) and (orientation: landscape) { ... }
}

#welcome-section {

    margin: auto;
    height: 625px;
    text-align: center;

}

#navbar {
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: goldenrod;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;

}
a {float: right;
margin: 5px;
}